$f: 'Open sans', sans-serif;
@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform($radius) {
  -moz-transform: $radius;
  -ms-transform: $radius;
  -webkit-transform: $radius;
  -o-transform: $radius;
  transform: $radius;
}

@mixin transition($radius) {
  -webkit-transition: $radius;
  -moz-transition: $radius;
  -o-transition: $radius;
  transition: $radius;
}

html {
  color: #000;
  background: none;
  font-family: $f;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, select {
  *font-size: 100%;
}

legend {
  color: #000;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html > body .the-mainest {

  min-height: 100%;
  position: relative;
  overflow: hidden;
}

strong {
  font-weight: bold !important;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img {
  &.alignright {
    margin-left: 10px;
  }
  &.alignleft {
    margin-right: 10px;
  }
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.clears {
  clear: both;
}

#load-more {
  display: none;
}

.container-fluid {
  position: relative;
  z-index: 2;
}

.header-fluid {
    background: url(images/header-top.png) no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 960px;
}

.header-menu {
    background-color: #000000;
    height: 60px;
    &.sticky {
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 10;
        width: 100%;
    }
    .go-top {
        margin-top: 5px;
        display: block
    }
    nav {
        padding-top: 20px;
        ul {
            li{
                color: #fefefe;
                font: 400 16px / 18px $f;
                cursor: pointer;
                display: inline-block;
                line-height: 18px;
                padding: 0px 8px;
                border-right: 1px solid #fefefe;
                &:last-child {
                    border-right: none;
                }
                a {
                    color: #fefefe;
                }
            }
        }
    }
    
    .phone {
        color: #fefefe;
        font: 400 16px / 18px $f;
        line-height: 60px;
        span {
            color: #fefefe;
            font: 700 16px / 18px $f;
        }
    }
}

.offerings-fluid {
    background: url(images/gray-bg.png) repeat;
    min-height: 440px;
    
    .title {
        color: #000000;
        font: 400 20px / 48px $f;
        display: table;
        margin: 0 auto;
        padding-top: 30px;
        position: relative;
        text-transform: uppercase;
        margin-bottom: 50px;
        &:before {
            content: "";
            position: absolute;
            background: url(images/under-title-offerings.png) no-repeat;
            background-size: 100% 100%;
            left: 0px;
            bottom: -4px;
            height: 11px;
            width: 100%;
        }
    }
    
    .sm-block {
        padding-left: 50px;
        margin-bottom: 30px;
        background: url(images/offerings-good.png) left 5px no-repeat;
        color: #000000;
        font: 400 16px / 18px $f;
        min-height: 50px;
    }
}

.bottom-fluid {
  .container {
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    .block {
      .title {
        color: #0a0a0a;
        font: 700 20.23px $f;
        padding-bottom: 20px;
      }

      .sm-block {
        width: 300px;
        padding-left: 35px;
        margin-bottom: 15px;
        p {
          color: #666666;
          font: 400 12px $f;
        }

        .btn-link {
          padding-left: 0px;
          font-size: 12px;
        }

        &:nth-of-type(1) {
          background: url(images/address-icon.png) left center no-repeat;
        }

        &:nth-of-type(2) {
          background: url(images/phone-icon.png) left center no-repeat;
        }

        &:nth-of-type(3) {
          background: url(images/email-icon.png) left center no-repeat;
        }
      }
      .form-group {
        .btn {
          border: 2px solid #cccccc;
          color: #000;
          background: none;
          border-radius: 0px;
        }

        input, textarea {
          border-radius: 0px;
        }
      }

    }
  }

}

.footer-fluid {
  padding-top: 20px;
  .container {
    p {
      color: #666666;
      font: 400 11.699px $f;
      span {
        color: #a40000;
      }

      &.made-in {
        line-height: 38px;
        text-align: right;
      }
    }
  }
}