@font-face {
    font-family: 'Helvetica';
    src: url('fonts/HelveticaNeueCyrRoman.eot');
    src: url('fonts/HelveticaNeueCyrRoman.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueCyrRoman.woff2') format('woff2'),
         url('fonts/HelveticaNeueCyrRoman.woff') format('woff'),
         url('fonts/HelveticaNeueCyrRoman.ttf') format('truetype'),
         url('fonts/HelveticaNeueCyrRoman.svg#HelveticaNeueCyrRoman') format('svg');
}
@font-face {
    font-family: 'Helvetica';
    src: url('fonts/HelveticaNeueCyrBlack.eot');
    src: url('fonts/HelveticaNeueCyrBlack.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueCyrBlack.woff2') format('woff2'),
         url('fonts/HelveticaNeueCyrBlack.woff') format('woff'),
         url('fonts/HelveticaNeueCyrBlack.ttf') format('truetype'),
         url('fonts/HelveticaNeueCyrBlack.svg#HelveticaNeueCyrBlack') format('svg');

    font-weight: 900;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/HelveticaNeueCyrMedium.eot');
    src: url('fonts/HelveticaNeueCyrMedium.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueCyrMedium.woff2') format('woff2'),
         url('fonts/HelveticaNeueCyrMedium.woff') format('woff'),
         url('fonts/HelveticaNeueCyrMedium.ttf') format('truetype'),
         url('fonts/HelveticaNeueCyrMedium.svg#HelveticaNeueCyrMedium') format('svg');

  font-weight: 600;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/HelveticaNeueCyrLight.eot');
    src: url('fonts/HelveticaNeueCyrLight.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueCyrLight.woff2') format('woff2'),
         url('fonts/HelveticaNeueCyrLight.woff') format('woff'),
         url('fonts/HelveticaNeueCyrLight.ttf') format('truetype'),
         url('fonts/HelveticaNeueCyrLight.svg#HelveticaNeueCyrLight') format('svg');

    font-weight: 300;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/HelveticaNeueCyrBold.eot');
    src: url('fonts/HelveticaNeueCyrBold.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueCyrBold.woff2') format('woff2'),
         url('fonts/HelveticaNeueCyrBold.woff') format('woff'),
         url('fonts/HelveticaNeueCyrBold.ttf') format('truetype'),
         url('fonts/HelveticaNeueCyrBold.svg#HelveticaNeueCyrBold') format('svg');

    font-weight: 700;
}



$f : 'Helvetica', sans-serif;
@mixin border-radius($radius) {  
  -moz-border-radius: $radius;  
  -webkit-border-radius: $radius;  
  -ms-border-radius: $radius;  
  border-radius: $radius;  
}
@mixin transform($radius) {  
  -moz-transform: $radius;  
  -ms-transform: $radius;  
  -webkit-transform: $radius;  
  -o-transform: $radius;  
  transform: $radius;  
}
@mixin transition($radius) {
  -webkit-transition: $radius;
  -moz-transition:$radius;
  -o-transition: $radius;
  transition: $radius;
}
@mixin grayscale($percent) { 
  -webkit-filter: grayscale($percent);
  -moz-filter: grayscale($percent);
  -ms-filter: grayscale($percent);
  -o-filter: grayscale($percent);
  filter: grayscale($percent);
  filter: url(grayscale.svg#greyscale); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}
@mixin grayscale-none($percent) { 
  -webkit-filter: grayscale($percent);
  -moz-filter: grayscale($percent);
  -ms-filter: grayscale($percent);
  -o-filter: grayscale($percent);
  filter: grayscale($percent);
  filter: url(grayscale.svg#greyscale); /* Firefox 4+ */
  filter: none; /* IE 6-9 */
}

html{color:#000;background:none; font-family: $f;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
html, body
{
    height: 100%;
    padding: 0;
    margin: 0;
}
html>body .the-mainest {
    
    min-height: 100%;
    position:relative;
    overflow: hidden;
    background: url(images/main-bg.png) repeat;

    .background-white {
      position: absolute;
      width: 1170px;
      margin: auto;
      height: 100%;
      min-height: 100%;
      background: #FFF;
      left: 0px;
      right: 0px;
      top: 0px;
      z-index: 1;

      &:before, &:after {
        content: "";
        position: absolute;
        left: -93px;
        width: 93px;
        top: 0px;
        height: 100%;
        background: #FFF;
        opacity: 0.5;
      }
      &:after {
        left: auto;
        right: -93px;
      }
    }
}
strong
{
    font-weight: bold !important;
}
.alignleft
{
    float:left;
}
.alignright
{
    float:right;
}
img {
  &.alignright{
    margin-left: 10px;
  }
  &.alignleft {
    margin-right: 10px;
  }
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
.clears
{
    clear: both;
}

#load-more
{
  display: none;
}


.container-fluid {
  position: relative;
  z-index: 2;
}
