html {
  color: #000;
  background: none;
  font-family: "Open sans", sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, select {
  *font-size: 100%;
}

legend {
  color: #000;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html > body .the-mainest {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

strong {
  font-weight: bold !important;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img.alignright {
  margin-left: 10px;
}
img.alignleft {
  margin-right: 10px;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.clears {
  clear: both;
}

#load-more {
  display: none;
}

.container-fluid {
  position: relative;
  z-index: 2;
}

.bottom-fluid .container {
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
.bottom-fluid .container .block .title {
  color: #0a0a0a;
  font: 700 20.23px "Open sans", sans-serif;
}
.bottom-fluid .container .block .sm-block {
  width: 300px;
}
.bottom-fluid .container .block .sm-block p {
  color: #666666;
  font: 400 12px "Open sans", sans-serif;
}
.bottom-fluid .container .block .sm-block .btn-link {
  padding-left: 0px;
  font-size: 12px;
}
.bottom-fluid .container .block .form-group .btn {
  border: 2px solid #cccccc;
  color: #000;
  background: none;
  border-radius: 0px;
}
.bottom-fluid .container .block .form-group input, .bottom-fluid .container .block .form-group textarea {
  border-radius: 0px;
}
